<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Topology Graph Example</title>
  <meta name="viewport" content="width=device-width">
  <style>
    @font-face {
      font-family: 'FontAwesome';
      src: url('bower_components/font-awesome/fonts/fontawesome-webfont.woff') format('woff');
    }
    @font-face {
      font-family: 'PatternFlyIcons-webfont';
      src: url('bower_components/patternfly/dist/fonts/PatternFlyIcons-webfont.woff') format('woff');
    }
    * {
      box-sizing: border-box;
    }
    body {
      margin: 0px;
      font-family: sans-serif;
    }
    kubernetes-topology-graph {
      border: 40px solid lightgray;
      position: fixed;
      height: 100%;
      width: 100%;
    }
    .controls {
      position: absolute;
      bottom: 60px;
      left: 60px;
      right: 60px;
      background-color: lightgray;
      padding: 0 10px;
    }
    #selected {
      float: right;
      display: block;
      margin-top: 15px;
    }
  </style>
  <link rel="stylesheet" href="topology-graph.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/d3/d3.js"></script>
  <script src="topology-graph.js"></script>
</head>
<body ng-app="exampleApp">

    <kubernetes-topology-graph items="data.items" relations="data.relations"
        kinds="kinds" selection="selection" force="topologyForce" radius="22">
    </kubernetes-topology-graph>

    <div class="controls">
       <label id="selected"></label>
       <button ng-click="poke()">Poke</button>
       <button ng-click="select()">Select</button>

       <kubernetes-topology-icon kind="Pod">
         <svg class="kube-topology">
           <g transform="translate(15, 15)" class="Pod">
             <circle r="15"></circle>
             <text y="7">P</text>
           </g>
         </svg>
       </kubernetes-topology-icon>
       <label>Pods</label>

       <kubernetes-topology-icon kind="Service">
         <svg class="kube-topology">
           <g transform="translate(15, 15)" class="Service">
             <circle r="15"></circle>
             <text y="7">S</text>
           </g>
         </svg>
       </kubernetes-topology-icon>
       <label>Services</label>

       <kubernetes-topology-icon kind="Node">
         <svg class="kube-topology">
           <g transform="translate(15, 15)" class="Node">
             <circle r="15"></circle>
             <text y="7">N</text>
           </g>
         </svg>
       </kubernetes-topology-icon>
       <label>Nodes</label>

       <kubernetes-topology-icon kind="ReplicationController">
         <svg class="kube-topology">
           <g transform="translate(15, 15)" class="ReplicationController">
             <circle r="15"></circle>
             <text y="7">R</text>
           </g>
         </svg>
       </kubernetes-topology-icon>
       <label>Replication Controllers</label>
    </div>

    <script type="text/javascript">
        var datasets = [];

        function sink(dataset) {
	   datasets.push(dataset);
        }

        angular.module('exampleApp', ['kubernetesUI'])
	    .run(function($rootScope) {
                var index = 0;
                $rootScope.data = datasets[index];

                $rootScope.selection = null;

                /* Since we don't use default render implementation, no need to do this */
                $rootScope.kinds = {
                    Pod: true,
                    ReplicationController: true,
                    Node: true,
                    Service: true
                };

                $rootScope.topologyForce = d3.layout.force()
                  .charge(-600).gravity(0.2).linkDistance(40);

                $rootScope.poke = function() {
                   index += 1;
                   $rootScope.data = datasets[index % datasets.length];
                };

                $rootScope.select = function() {
                    var ids = Object.keys($rootScope.data.items);
                    var id = ids[Math.floor(Math.random() * ids.length)];
                    $rootScope.selection = $rootScope.data.items[id];
                };

                $rootScope.$on("select", function(ev, item) {
                    $rootScope.selection = item;
                    $rootScope.$digest();
                });

                $rootScope.$on("render", function(ev, vertices, added) {
                    /*
                     * We are passed two selections of <g> elements:
                     * vertices: All the elements
                     * added: Just the ones that were added
                     */
                    added.attr("class", function(d) { return d.item.kind; });
                    added.append("circle").attr("r", "15")
                    added.append("title");
                    added.append("text")
                        .text(function(d) { return d.item.kind[0]; })
                        .attr("y", 7);

                    vertices.selectAll("title").text(function(d) { return "Custom: " + d.id });
                    vertices.selectAll("use").classed("running", function(d) { console.log(d); return true; });

                    /* Don't do default rendering */
                    ev.preventDefault();
                });

                $rootScope.$watch("selection", function(item) {
                   var text = "";
                   if (item)
                       text = "Selected: " + item.metadata.name;
                   angular.element(document.getElementById("selected")).text(text);
                });
            });
    </script>

    <!-- JSONP data sets to load -->
    <script src="scratch/data-set-1.jsonp"></script>
    <script src="scratch/data-set-2.jsonp"></script>
</body>
</html>
